@model EventCreateViewModel


<h2 class="text-center">Add New Event</h2>


<form asp-action="Create" method="post" class="form-horizontal" role="form">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="Name" class="col-md-2 control-label">Event Name:</label>
        <div class="col-md-5">
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Price" class="col-md-2 control-label">Price:</label>
        <div class="col-md-5">
            <input asp-for="Price" class="form-control" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Artist" class="col-md-2 control-label">Artist:</label>
        <div class="col-md-5">
            <input asp-for="Artist" class="form-control" />
            <span asp-validation-for="Artist" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Date" class="col-md-2 control-label">Date:</label>
        <div class="col-md-5">
            <input asp-for="Date" class="form-control" type="date" />
            <span asp-validation-for="Date" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Description" class="col-md-2 control-label">Description:</label>
        <div class="col-md-5">
            <input asp-for="Description" class="form-control" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="ImageUrl" class="col-md-2 control-label">Image URL:</label>
        <div class="col-md-5">
            <input asp-for="ImageUrl" class="form-control" />
            <span asp-validation-for="ImageUrl" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="CategoryId" class="col-md-2 control-label">Category:</label>
        <div class="col-md-5">
            <select asp-for="CategoryId" asp-items="@(new SelectList(Model.CategoryList, "CategoryId", "Name"))" class="form-control">
                <option value="">Select a Category</option>
            </select>
            <span asp-validation-for="CategoryId" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="City" class="col-md-2 control-label">City:</label>
        <div class="col-md-5">
            <input asp-for="City" class="form-control" />
            <span asp-validation-for="City" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-5">
            <input type="submit" class="btn btn-primary" value="Add Event" />
        </div>
    </div>
</form>

<h2 class="text-center">Event List</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Event Name</th>
            <th>Price</th>
            <th>Artist</th>
            <th>Date</th>
            <th>Category Name</th>
            <th>City</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var eventItem in Model.Events)
        {
            <tr>
                <td>@eventItem.Name</td>
                <td>@eventItem.Price $</td>
                <td>@eventItem.Artist</td>
                <td>@eventItem.Date.ToString("MM/dd/yyyy")</td>
                <td>@eventItem.CategoryName</td>
                <td>@eventItem.City</td>
                <td>
                    <form asp-action="Delete" method="post">
                        <input type="hidden" name="eventId" value="@eventItem.EventId" />
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Widget {
    <partial name="_logoWidget"/>
}





