@model EventTicket.Frontend.Client.Models.View.OrderDetailsViewModel

    <div class="row mt-5">
        <a asp-action="Index" asp-controller="Order" class="btn btn-primary">Back to orders</a>
    </div>

    <div class="row mt-5">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Artist</th>
                    <th>Date</th>
                    <th>Description</th>
                    <th>Category</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var ev in Model.Events)
                {
                    <tr>
                        <td><img src="@ev.ImageUrl" alt="Event Image" style="max-width: 100px; max-height: 100px;" /></td>
                        <td>@ev.Name</td>
                        <td>@ev.Price</td>
                        <td>@ev.Artist</td>
                        <td>@ev.Date.ToShortDateString()</td>
                        <td>@ev.Description</td>
                        <td>@ev.CategoryName</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
